<h1>Gallery Index</h1>

{{#each gallery}}
  <div class="galleryIndex">
    <p>
      <h1>Author: {{author}}</h1>
        <a href="/gallery/{{id}}">
        <img src="{{link}}">
        </a>
    </p>
    <p>
      Description: {{description}}
    </p>
  </div>
{{/each}}