<h1>Gallery Index</h1>

<form action="/gallery/new" method="get">
   <button type="submit">Add a Photo</button>
</form

{{#each gallery}}
  <div class="galleryIndex">
      <a href="/gallery/{{id}}">
      <img src="{{link}}">
      </a>
    <p>
      <h1>Author: {{author}}</h1>
      Description: {{description}}
    </p>
    <br>
  </div>
{{/each}}