{{!-- <form action="/gallery/new" method="get">
   <button type="submit">Add a Photo</button>
</form --}}

{{#each gallery}}
  <div class="galleryContainer">
      <a href="/gallery/{{id}}">
      <img src="{{link}}">
      </a>
    <p>
      {{author}} - <br>{{description}}
    </p>
    <br>
  </div>
{{/each}}