<h1>Gallery Index</h1>

{{#each gallery}}
  <div class="galleryIndex">
    <p>
    Author: {{author}}
      <br>
    Link: {{link}}
      <br>
    Description: {{description}}
    </p>
  </div>
{{/each}}