{{#each gallery}}
  <div class="galleryContainer">
      <a name="photo" href="/gallery/{{id}}">
      <img src="{{link}}">
      </a>
    <p>
      {{author}}
      <br>
      {{description}}
    </p>
    <br>
  </div>
{{/each}}