<h1>Add a New Photo</h1>

<form action="http://localhost:3000/gallery" method="post" id="newPhoto" name="newPhoto">

  <label name="author">Author</label>
  <input type="text" name="author" placeholder="Enter Author" style="text-align: center">
    <br>
  <label name="link">Link</label>
  <input type="text" name="link" placeholder="Enter Link" style="text-align: center">
    <br>
  <label name="description">Description</label>
  <input type="text" name="description" placeholder="Enter Description" style="text-align: center">
    <br>
  <button type="submit" id="submit">Submit</button>
</form>