<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="title-container">
        <h1>_ARCHITEKT</h1>
        <aside>
          Welcome to your online portfolio, we are small group of passionate designers and archiects, looking to cahnge and create amazing digital images to inspire others to follow in our innovative steps. Free Architect Wordpress Theme
        </aside>
      </div>

       {{{body}}}

    </div>
  </body>
</html>