<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
  </head>
  <body>
    <div class="title-container">
      <h1>
        <a href="/gallery/">_ARCHITEKT</a>
      </h1>
        <aside>
         Welcome to your online portfolio, we are small groupof passionate designers and archiects, looking tocahnge and create amazing digital images to inspireothers to follow in our innovative steps. FreeArchitect Wordpress Theme
      </aside>
    </div>
    <div class="menu">
      <div class="addMenu">
        <form action="/gallery/new" method="get">
          <button type="submit">Add Photo</button>
        </form>
      </div>
      <div class="userMenu">
        <button type="submit">New User</button>
      </div>
    </div>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>